@import "sass_classes.scss";

@mixin placement($width, $height) {
  padding-top: calc((#{$height} / #{$width}) * 100%);
  position   : relative;
}

$menucolor: #282C64;

/* /animate.css delay option */
html {
  scroll-behavior: smooth;
}

body {
  font-family: "Montserrat", sans-serif;
  margin     : 0;
}

* {
  &::selection {
    color     : #fff;
    background: #ff5a68;
  }
}

#frmtHead {
  background: rgba(255, 255, 255, .9);
  padding   : 8px 0;
  position  : fixed;
  top       : 0;
  left      : 0;
  width     : 100%;
  z-index   : 100;
  //@include box-shadow(0px 2px 2px rgba(0, 0, 0, 0.1));
  @include farmasiBoxShadow;
}


#lang-wrapper {
  position: relative;
  height  : 100%;

  ul {
    margin  : 0;
    padding : 0;
    position: absolute;
    top     : 0;
    left    : 0;
    height  : 100%;
    overflow: hidden;
    @include transition(all 350ms ease-in-out);

    &:hover,
    &:focus {
      height    : 80px;
      background: #fff;
    }
  }

  li {
    list-style-type: none;
    padding        : 8px 4px;
    @include fontSettings(12px, 600, $menucolor);

    @include minWidth(1200px) {
      font-size: 16px;
    }
  }

  a {
    @include fontSettings(12px, 600, $menucolor);

    @include minWidth(1200px) {
      font-size: 16px;
    }
  }
}

#menu-btn {
  padding-top: 8px;
  display    : inline-block;
  border     : none;
  background : transparent;
  cursor     : pointer;

  &:focus,
  &:active {
    outline: none;
  }
}

#menu {
  position        : fixed;
  top             : 0;
  left            : 0;
  width           : 0;
  height          : 100vh;
  z-index         : 150;
  background-color: #ff5a68;
  display         : flex;
  align-items     : center;
  justify-content : center;
  overflow        : hidden;
  @include transition('');

  &.active {
    width: 100%;
  }

  ul {
    margin: 0;
  }

  li {
    list-style-type: none;
  }

  a {
    font-size  : 24px;
    font-weight: 700;
    color      : #fff;

    @media screen and (min-width: 768px) {
      font-size: 48px;
    }
  }

  .close-menu {
    position  : absolute;
    top       : 20px;
    right     : 20px;
    border    : none;
    background: transparent;
    cursor    : pointer;

    &:focus,
    &:active {
      outline: none;
    }
  }
}

section {
  overflow: hidden;

  &>a,
  &>img,
  img {
    display  : block;
    max-width: 100%;
    height   : auto;
  }

}

.btn-discover {
  display: block;
  width  : 260px;
  margin : 16px auto;

  @include min-yatayTablet {
    width    : 100%;
    max-width: 324px;
    margin   : auto 0 auto auto;
  }

  @include minWidth(1400px) {
    max-width: 432px;
  }
}

.section-text {
  position: absolute;
  bottom  : 0;
  left    : 0;

  @include min-yatayTablet {
    right    : 16px;
    bottom   : 75px;
    left     : auto;
    max-width: 46%;
  }

  @include minWidth(1200px) {
    right : 24px;
    bottom: 112px;
    left  : auto;
  }

  @include minWidth(1400px) {
    right    : 32px;
    bottom   : 150px;
    left     : auto;
    max-width: 60%;
  }

  @include minWidth(1600px) {
    max-width: none;
  }
}

section {
  position: relative;
}

#section1 {

  .btn-discover {
    width   : 100%;
    position: absolute;
    bottom  : 0;

    @include min-dikeyTablet {
      bottom: 400px;
    }

    @include min-yatayTablet {
      width : 250px;
      bottom: 90px;
      left  : 60px;
    }

    @include minWidth(1280px) {
      width: auto;
      left : 80px;
    }

    @include minWidth(1360px) {
      width : auto;
      bottom: 150px;
    }

    @include minWidth(1400px) {
      bottom: 110px;
      left  : 120px;
    }

    @include minWidth(1600px) {
      bottom: 238px;
      left  : 120px;
    }

    img {
      width    : 90%;
      max-width: 414px;
      margin   : auto;

      @include min-yatayTablet {
        width    : 100%;
        max-width: none;
      }
    }
  }
}

#section2 {
  .text-container {
    position   : absolute;
    top        : 35px;
    left       : 0;
    width      : 90%;
    max-width  : 366px;
    margin-left: 5%;

    picture {
      width : 100%;
      height: auto;
    }

    @include min-dikeyTablet {
      max-width: none;
    }

    @include min-yatayTablet {
      top  : auto;
      width: 30%;
      @include center('vertical');
    }
  }
}

#section7 {
  background    : url('../img/007-bg-m.jpg');
  padding-top   : 44px;
  padding-bottom: 30px;

  >div {
    width      : 88%;
    margin-left: 6%;
  }

  .header {
    margin-bottom: 32px;

    @include min-yatayTablet {
      margin-bottom: 80px;
      width        : 42%;
      margin-left  : 29%;
    }
  }

  .prod-list {
    display       : flex;
    flex-direction: column;

    @include min-yatayTablet {
      flex-direction: row;
      flex-wrap     : wrap;
    }

    a {
      margin-bottom: 5vh;

      @include min-yatayTablet {
        flex-grow: 1;
        width    : 30%;
        margin   : 0 1.5% 5vh;
      }
    }
  }

  .video {
    padding: 0 1.5%;
  }
}

#section8 {
  padding: 30px 4%;

  @include min-yatayTablet {
    padding: 0;
  }
}

.jarallax-img {
  img {
    width : 100%;
    height: auto;
  }
}

.video {
  .vid-container {
    @include placement(560, 315);
  }

  iframe {
    position: absolute;
    top     : 0;
    left    : 0;
    width   : 100%;
    height  : 100%;
  }
}

#frmFooter {
  background     : #000;
  height         : 296px;
  display        : flex;
  flex-direction : column;
  align-items    : center;
  justify-content: center;
  color          : #fff;
  padding        : 20px 0;
  clear          : both;

  @include min-yatayTablet {
    padding: 40px 0;
  }

  @include minWidth(1200px) {
    padding: 80px 0;
  }

  @include minWidth(1600px) {
    padding: 100px 0;
  }

  img {
    margin-bottom: 15px;
    width        : 100%;
    max-width    : 30px;
    height       : auto;

    @include min-yatayTablet {
      max-width: 20px;

      &.instagram {
        margin: 0 27px;
      }
    }

    @include minWidth(1200px) {
      max-width: 40px;

      &.instagram {
        margin: 0 37px;
      }
    }

    @include minWidth(1600px) {
      max-width: 70px;

      &.instagram {
        margin: 0 47px;
      }
    }
  }

  ul {
    margin : 0 0 15px 0;
    padding: 0;
  }

  li {
    list-style-type: none;
    display        : inline-block;
  }

  a {
    color  : #fff;
    padding: 0 4px;
    display: flex;
  }

  p {
    margin: 0;
  }
}

picture {
  display: block;
  width  : 100%;

  img {
    width : 100%;
    height: auto;
  }
}